/*
 * Haze v1.0.0 (https://hazecss.com/)
 * Developed by Serban Elyan (https://serbanelyan.com/)
 * Git (https://github.com/)
 */

* {
    /* outline: 1px solid var(--magenta); */
    /* border: 1px solid var(--magenta); */
}

:root {
    --magenta: #ff00ff;

    --accent: #3d97db;
    --accent-alt: #005291;

    --background: #ddd;
    --background-main: #fff;
    --background-alt: #eee;
    --background-dark: #161f27;

    --text-main: #333;
    --text-bright: #000;
    --text-dark: #fff;
    --text-muted: #777;

    --scrollbar-thumb: var(--background);
    --scrollbar-thumb-hover: var(--button-hover);
    --range-slider: #ccc;

    --button-base: #eee;
    --button-hover: #ddd;

    --link: #0091ff;
    --link-hover: #006fc4;
    --link-visited: #0091ff;

    --variable: #008a55;
    --highlight: #ffff00;
    --selection: #999;
    --focus: #3d97db;
    --border: #dbdbdb;
    --code: #000;
    --form-text: #1d1d1d;
    --form-placeholder: #949494;

    --animation-duration: 0.1s;
    --page-width: 1000px;

    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
    :root {
        --magenta: #ff00ff;

        --accent: #3d97db;
        --accent-alt: #003863;

        --background: #161f27;
        --background-main: #202b38;
        --background-alt: #1a242f;
        --background-light: #ddd;

        --text-main: #dbdbdb;
        --text-bright: #fff;
        --text-dark: #000;
        --text-muted: #a9b1ba;

        --scrollbar-thumb: var(--background);
        --scrollbar-thumb-hover: var(--button-hover);
        --range-slider: #526980;

        --button-base: #161f27;
        --button-hover: #040a0f;

        --link: #0091ff;
        --link-hover: #006fc4;

        --variable: #d941e2;
        --highlight: #efdb43;
        --selection: #1c76c5;
        --focus: #3d97db;
        --border: #526980;
        --code: #ffbe85;
        --form-text: #fff;
        --form-placeholder: #a9a9a9;

        --animation-duration: 0.1s;
        --page-width: 1000px;

        --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
    }
}

body {
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    text-rendering: optimizeLegibility;
    scrollbar-color: var(--scrollbar-thumb) var(--background-main);
    scrollbar-width: thin;
    background: var(--background-main);
    max-width: var(--page-width);
    color: var(--text-main);
    word-wrap: break-word;
    overflow-x: hidden;
    line-height: 1.4;
    padding: 10px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--text-bright);
    margin-bottom: 12px;
    margin-top: 24px;
}

@media (prefers-color-scheme: dark) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-bright);
    }}


h1 {
    font-size: 2.2em;
    margin-top: 0;
}

b,
strong,
th {
    font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
legend {
    color: var(--text-main) !important;
}

@media (prefers-color-scheme: dark) {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    table,
    legend {
        color: var(--text-main) !important;
    }
}

button {
    transition:
        background-color 0.1s linear,
        border-color 0.1s linear,
        box-shadow 0.1s linear,
        transform 0.1s ease,
        color 0.1s linear;
    transition:
        background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear,
        box-shadow var(--animation-duration) linear,
        transform var(--animation-duration) ease,
        color var(--animation-duration) linear;
}

@media (prefers-color-scheme: dark) {
    button {
        transition:
            background-color 0.1s linear,
            border-color 0.1s linear,
            box-shadow 0.1s linear,
            transform 0.1s ease,
            color 0.1s linear;
        transition:
            background-color var(--animation-duration) linear,
            border-color var(--animation-duration) linear,
            box-shadow var(--animation-duration) linear,
            transform var(--animation-duration) ease,
            color var(--animation-duration) linear;
    }
}

button {
    color: var(--form-text);
    background-color: var(--button-base);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
}

@media (prefers-color-scheme: dark) {
    button {
        color: var(--form-text);
        background-color: var(--button-base);
    }
}

button:hover {
    background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {
    button:hover {
        background: var(--button-hover);
    }
}

input {
    transition:
        background-color 0.1s linear,
        border-color 0.1s linear,
        box-shadow 0.1s linear,
        transform 0.1s ease,
        color 0.1s linear;
    transition:
        background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear,
        box-shadow var(--animation-duration) linear,
        transform var(--animation-duration) ease,
        color var(--animation-duration) linear;
}

@media (prefers-color-scheme: dark) {
    input {
        transition:
            background-color 0.1s linear,
            border-color 0.1s linear,
            box-shadow 0.1s linear,
            transform 0.1s ease,
            color 0.1s linear;
        transition:
            background-color var(--animation-duration) linear,
            border-color var(--animation-duration) linear,
            box-shadow var(--animation-duration) linear,
            transform var(--animation-duration) ease,
            color var(--animation-duration) linear;
    }
}

textarea {
    transition:
        background-color 0.1s linear,
        border-color 0.1s linear,
        box-shadow 0.1s linear,
        transform 0.1s ease,
        color 0.1s linear;
    transition:
        background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear,
        box-shadow var(--animation-duration) linear,
        transform var(--animation-duration) ease,
        color var(--animation-duration) linear;
}

@media (prefers-color-scheme: dark) {
    textarea {
        transition:
            background-color 0.1s linear,
            border-color 0.1s linear,
            box-shadow 0.1s linear,
            transform 0.1s ease,
            color 0.1s linear;
        transition:
            background-color var(--animation-duration) linear,
            border-color var(--animation-duration) linear,
            box-shadow var(--animation-duration) linear,
            transform var(--animation-duration) ease,
            color var(--animation-duration) linear;
    }
}

q::before {
    content: none;
}

q::after {
    content: none;
}

blockquote {
    border-left: 4px solid var(--accent);
    color: var(--text-main);
    font-style: italic;
    padding: 0.5em 1em;
    margin: 1.5em 0;
}

@media (prefers-color-scheme: dark) {
    blockquote {
        border-left: 4px solid var(--accent);
        color: var(--text-main);
    }
}

q {
    border-left: 4px solid var(--accent);
    font-style: italic;
    padding: 0.5em 1em;
    margin: 1.5em 0;
}

@media (prefers-color-scheme: dark) {
    q {
        border-left: 4px solid var(--accent);
    }
}

blockquote > footer {
    font-style: normal;
    border: 0;
}

blockquote cite {
    font-style: normal;
}

address {
    font-style: normal;
}

mark,
mark strong {
    background-color: var(--highlight);
    border-radius: 2px;
    padding: 0 2px 0 2px;
    color: var(--text-black) !important;
}

a > code,
a > strong {
    color: inherit;
}

button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'],
input[type='color'] {
    cursor: pointer;
}

input,
select,
textarea {
    display: block;
}

[type='checkbox'],
[type='radio'] {
    display: initial;
}

input {
    color: var(--form-text);
    background-color: var(--background-alt);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    outline: none;
    border: none;
}

input[type='file'] {
    padding: 10px;
}

input[type='color'] {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    min-height: 40px;
    min-width: 72px;
    cursor: pointer;
}

input[type='time'] {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    min-height: 40px;
    min-width: 72px;
    cursor: pointer;
}

input[type='date'] {
    min-width: 120px;
    min-height: 40px;
}

@media (prefers-color-scheme: dark) {
    input {
        color: var(--form-text);
        background-color: var(--background);
    }
}

textarea {
    color: var(--form-text);
    background-color: var(--background-alt);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    outline: none;
    border: none;
}

@media (prefers-color-scheme: dark) {
    textarea {
        color: var(--form-text);
        background-color: var(--background);
    }
}

select {
    background-color: var(--background-alt);
    color: var(--form-text);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}

@media (prefers-color-scheme: dark) {
    select {
        color: var(--form-text);
        background-color: var(--background);
    }
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
    background-color: var(--button-base);
    padding-right: 30px;
    padding-left: 30px;
}

@media (prefers-color-scheme: dark) {
    input[type='submit'],
    input[type='reset'],
    input[type='button'] {
        background-color: var(--background);
    }
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
    background: var(--button-hover);
}

@media (prefers-color-scheme: dark) {
    input[type='submit']:hover,
    input[type='reset']:hover,
    input[type='button']:hover {
        background: var(--button-hover);
    }
}

input[type='checkbox'],
input[type='radio'] {
    height: 1em;
    width: 1em;
}

input[type='radio'] {
    border-radius: 100%;
}

input {
    vertical-align: top;
}

label {
    vertical-align: middle;
    margin-bottom: 4px;
    display: inline-block;
}

input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
button,
textarea {
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-right: 0;
    box-sizing: border-box;
    resize: vertical;
}

textarea:not([cols]) {
    width: 100%;
}

textarea:not([rows]) {
    min-height: 40px;
    height: 84px;
}

input[type='text'],
input[type='file'],
input[type='email'],
input[type='number'] {
    width: 100%;
    max-width: 300px;
}

select {
    background: var(--background-alt) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
    padding-right: 35px;
}

@media (prefers-color-scheme: dark) {
    select {
        background: var(--background) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
    }
}

select::-ms-expand {
    display: none;
}

select[multiple] {
    padding-right: 10px;
    background-image: none;
    overflow-y: auto;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    box-shadow: 0 0 0 2px var(--focus);
}

@media (prefers-color-scheme: dark) {
    input:focus,
    select:focus,
    button:focus,
    textarea:focus {
        box-shadow: 0 0 0 2px var(--focus);
    }
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
    transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
    color: var(--form-placeholder);
}

@media (prefers-color-scheme: dark) {
    ::-moz-placeholder,
    :-ms-input-placeholder,
    ::-ms-input-placeholder,
    ::placeholder {
        color: var(--form-placeholder);
    }
}

fieldset {
    border: 1px var(--text-main) solid;
    border-radius: 6px;
    margin: 0;
    margin-bottom: 12px;
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    fieldset {
        border: 1px var(--text-main) solid;
    }
}

legend {
    font-size: 0.9em;
    font-weight: 600;
}

input[type='range'] {
    margin: 10px 0;
    padding: 10px 0;
    background: transparent;
}

input[type='range']:focus {
    box-shadow: none;
}

input[type='range']:active {
    transform: none;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']:focus::-webkit-slider-runnable-track {
    width: 100%;
    height: 9.5px;
    transition: 0.2s;
    background: var(--background-alt);
    -webkit-transition: 0.2s;
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {

    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']:focus::-webkit-slider-runnable-track {
        background: var(--background-alt);
    }
}

input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--range-slider);
    -webkit-appearance: none;
    margin-top: -7px;
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-webkit-slider-thumb {
        background: var(--range-slider);
    }
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: var(--background-alt);
}

@media (prefers-color-scheme: dark) {
    input[type='range']:focus::-webkit-slider-runnable-track {
        background: var(--background-alt);
    }
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 9.5px;
    transition: 0.2s;
    background: var(--background-alt);
    -moz-transition: 0.2s;
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-moz-range-track {
        background: var(--background-alt);
    }
}

input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--range-slider);
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-moz-range-thumb {
        background: var(--range-slider);
    }
}

input[type='range']::-ms-track {
    width: 100%;
    height: 9.5px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type='range']::-ms-fill-lower {
    background: var(--background);
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-ms-fill-lower {
        background: var(--background);
    }
}

input[type='range']::-ms-fill-upper {
    background: var(--background);
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-ms-fill-upper {
        background: var(--background);
    }
}

input[type='range']::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--range-slider);
}

@media (prefers-color-scheme: dark) {
    input[type='range']::-ms-thumb {
        background: var(--border);
    }
}

input[type='range']:focus::-ms-fill-upper,
input[type='range']:focus::-ms-fill-lower {
    background: var(--background);
}

@media (prefers-color-scheme: dark) {
    input[type='range']:focus::-ms-fill-upper,
    input[type='range']:focus::-ms-fill-lower {
        background: var(--background);
    }
}

a {
    text-decoration: none;
    color: var(--link);
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--link);
    }
}

a:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited);
}

a:visited:hover {
    color: var(--link-hover);
}

code {
    background: var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
}

@media (prefers-color-scheme: dark) {
    code {
        color: var(--code);
    }
}

@media (prefers-color-scheme: dark) {
    code {
        background: var(--background);
    }
}

samp {
    background: var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
}

@media (prefers-color-scheme: dark) {
    samp {
        color: var(--code);
    }
}

@media (prefers-color-scheme: dark) {
    samp {
        background: var(--background);
    }
}

time {
    background: var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
}

@media (prefers-color-scheme: dark) {
    time {
        color: var(--code);
    }
}

@media (prefers-color-scheme: dark) {
    time {
        background: var(--background);
    }
}

pre > code {
    padding: 10px;
    display: block;
    overflow-x: auto;
}

var {
    color: var(--variable);
    background: var(--background);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
    font-style: normal;
    font-family: monospace;
}

@media (prefers-color-scheme: dark) {
    var {
        color: var(--variable);
    }
}

kbd {
    padding: 2px 4px 2px 4px;
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--text-main);
    border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
    kbd {
        color: var(--text-main);
    }
}

@media (prefers-color-scheme: dark) {
    kbd {
        border: 1px solid var(--border);
    }
}

@media (prefers-color-scheme: dark) {
    kbd {
        background: var(--background);
    }
}

img,
video {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    border-top: 1px solid var(--border);
}

@media (prefers-color-scheme: dark) {
    hr {
        border-top: 1px solid var(--border);
    }
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    width: 100%;
}

table caption {
    text-align: left;
}

td,
th {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

thead {
    border-bottom: 1px solid var(--border);
}

@media (prefers-color-scheme: dark) {
    thead {
        border-bottom: 1px solid var(--border);
    }
}

tfoot {
    border-top: 1px solid var(--border);
}

@media (prefers-color-scheme: dark) {
    tfoot {
        border-top: 1px solid var(--border);
    }
}

tbody tr:nth-child(even) {
    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    tbody tr:nth-child(even) {
        background-color: var(--background);
    }
}

tbody tr:nth-child(even) button {
    background-color: var(--background-alt);
}

@media (prefers-color-scheme: dark) {
    tbody tr:nth-child(even) button {
        background-color: var(--background-alt);
    }
}

tbody tr:nth-child(even) button:hover {
    background-color: var(--background-body);
}

@media (prefers-color-scheme: dark) {
    tbody tr:nth-child(even) button:hover {
        background-color: var(--background-body);
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-alt);
    border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: var(--background-alt);
    }
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
    }
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover);
    }
}

::-moz-selection,
::selection {
    background-color: var(--selection);
    color: var(--text-bright);
}

@media (prefers-color-scheme: dark) {
    ::-moz-selection,
    ::selection {
        color: var(--text-bright);
        background-color: var(--selection);
    }
}

details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-alt);
    border-radius: 6px;
    overflow: hidden;
    padding: 10px 10px 0;
    margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
    details {
        background-color: var(--background-alt);
    }
}

details[open] {
    padding: 10px;
}

details >  :last-child {
    margin-bottom: 0;
}

details[open] summary {
    margin-bottom: 10px;
}

summary {
    display: list-item;
    background-color: var(--background);
    cursor: pointer;
    outline: none;
    margin: -10px -10px 0;
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    summary {
        background-color: var(--background);
    }
}

details >  :not(summary) {
    margin-top: 0;
}

summary::-webkit-details-marker {
    color: var(--text-main);
}

@media (prefers-color-scheme: dark) {
    summary::-webkit-details-marker {
        color: var(--text-main);
    }
}

details > summary {
    list-style: none;
}

dialog {
    background-color: var(--background-alt);
    color: var(--text-main);
    border-radius: 6px;
    padding: 10px 30px;
    border: none;
}


@media (prefers-color-scheme: dark) {
    dialog {
        color: var(--text-main);
    }
}

@media (prefers-color-scheme: dark) {
    dialog {
        background-color: var(--background-alt);
    }
}

dialog > header:first-child {
    background-color: var(--background);
    border-radius: 6px 6px 0 0;
    margin: -10px -30px 10px;
    padding: 10px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    dialog > header:first-child {
        background-color: var(--background);
    }
}

dialog::-webkit-backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

dialog::backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

footer {
    color: var(--text-muted);
    border-top: 1px solid var(--border);
    padding-top: 10px;
}

@media (prefers-color-scheme: dark) {
    footer {
        color: var(--text-muted);
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        border-top: 1px solid var(--border);
    }
}

body > footer {
    margin-top: 40px;
}

/* Extra small (xs) devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) {} */

/* Large (lg) devices (desktops, 992px and up) */
/* @media (min-width: 992px) {} */

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {} */