/*
 * Haze v1.0.1 (https://hazecss.com/)
 * Developed by Serban Elyan (https://serbanelyan.com/)
 * Git (https://github.com/serbanelyan/hazecss)
 */

.debug.on * {
    outline: 1px solid var(--magenta);
    /* border: 1px solid var(--magenta); */
}

.debug.off * {
    outline: none;
    /* border: none; */
}

:root,
.bg-auto *,
.bg-light * {
    --magenta: #ff00ff;

    --accent: #0074cc;
    --accent-hover: #0091ff;
    --accent-alt: #22547a;
    --accent-alt-hover: #22547a;

    --background: #eee;
    --background-main: #fff;
    --background-alt: #fafafa;

    --background-light: #ddd;
    --background-light-main: #fff;
    --background-light-alt: #eee;
    --background-dark: #161f27;
    --background-dark-main: #202b38;
    --background-dark-alt: #1a242f;
    --background-discrete: #f7f7f7;

    --text-main: #333;
    --text-bright: #000;
    --text-dark: #fff;
    --text-muted: #777;

    --text-white: #fff;
    --text-black: #000;

    --scrollbar-thumb: var(--background);
    --scrollbar-thumb-hover: var(--button-hover);
    --range-slider: #ccc;

    --button-base: #eee;
    --button-hover: #ddd;
    --button-primary: var(--accent);
    --button-hover-primary: var(--accent-hover);
    --button-secondary: #eee;
    --button-hover-secondary: #ddd;
    --button-tertiary: transparent;
    --button-hover-tertiary: #fafafa;

    --link: #0091ff;
    --link-hover: #006fc4;
    --link-visited: #0091ff;

    --variable: #d941e2;
    --highlight: #ffff00;
    --selection: #999;
    --focus: #3d97db;
    --border: #dbdbdb;
    --form-text: #1d1d1d;
    --form-placeholder: #949494;

    --code: #333;
    --code-punctuation: #333;
    --code-element: #0065b3;
    --code-attr-name: #0098d4;
    --code-attr-value: #ff6600;
    --code-class: #ffae00;
    --code-value: #00d62e;
    --code-media: #b930c0;

    --code-close: #ff5f58;
    --code-minimize: #ffbd2e;
    --code-fullscreen: #28ca42;

    --shadow: 0 10px 35px rgba(0, 0, 0, 0.075);
    --shadow-sm: 0 5px 20px rgba(0, 0, 0, 0.075);
    --shadow-lg: 0 15px 50px rgba(0, 0, 0, 0.075);

    --animation-duration: 0.1s;
    --page-width-sm: 576px;
    --page-width-md: 768px;
    --page-width-lg: 992px;
    --page-width-xl: 1100px;
    --page-width-xxl: 1260px;

    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Georgia, "Times New Roman", Times, serif, Cambria, "Palatino Linotype", "Book Antiqua", "Lucida Bright", "Garamond", "EB Garamond", "Crimson Text", "Arno Pro", "Hoefler Text";
    --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

@media (prefers-color-scheme: dark) {

    :root,
    .bg-auto * {
        --magenta: #ff00ff;

        --accent: #0074cc;
        --accent-hover: #0091ff;
        --accent-alt: #22547a;
        --accent-alt-hover: #22547a;

        --background: #161f27;
        --background-main: #202b38;
        --background-alt: #1a242f;

        --background-light: #ddd;
        --background-light-main: #fff;
        --background-light-alt: #eee;
        --background-dark: #161f27;
        --background-dark-main: #202b38;
        --background-dark-alt: #1a242f;
        --background-discrete: #1c2530;

        --text-main: #dbdbdb;
        --text-bright: #fff;
        --text-dark: #000;
        --text-muted: #a9b1ba;

        --text-white: #fff;
        --text-black: #000;

        --scrollbar-thumb: var(--background);
        --scrollbar-thumb-hover: var(--button-hover);
        --range-slider: #526980;

        --button-base: #161f27;
        --button-hover: #040a0f;
        --button-primary: var(--accent);
        --button-hover-primary: var(--accent-hover);
        --button-secondary: #161f27;
        --button-hover-secondary: #040a0f;
        --button-tertiary: transparent;
        --button-hover-tertiary: #1c2530;

        --link: #0091ff;
        --link-hover: #006fc4;

        --variable: #d941e2;
        --highlight: #efdb43;
        --selection: #1c76c5;
        --focus: #3d97db;
        --border: #526980;
        --form-text: #fff;
        --form-placeholder: #a9a9a9;

        --code: #dbdbdb;
        --code-punctuation: #dbdbdb;
        --code-element: #006fc4;
        --code-attr-name: #00b7ff;
        --code-attr-value: #ff9130;
        --code-class: #ffce65;
        --code-value: #acf0bb;
        --code-media: #d941e2;

        --code-close: #ff5f58;
        --code-minimize: #ffbd2e;
        --code-fullscreen: #28ca42;

        --shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
        --shadow-sm: 0 5px 20px rgba(0, 0, 0, 0.2);
        --shadow-lg: 0 15px 50px rgba(0, 0, 0, 0.2);

        --animation-duration: 0.1s;
        --page-width-sm: 540px;
        --page-width-md: 720px;
        --page-width-lg: 960px;
        --page-width-xl: 1100px;
        --page-width-xxl: 1260px;

        --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
        --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-serif: Georgia, "Times New Roman", Times, serif, Cambria, "Palatino Linotype", "Book Antiqua", "Lucida Bright", "Garamond", "EB Garamond", "Crimson Text", "Arno Pro", "Hoefler Text";
        --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}

.bg-reverse *,
.bg-dark * {
    --magenta: #ff00ff;

    --accent: #0074cc;
    --accent-hover: #0091ff;
    --accent-alt: #22547a;
    --accent-alt-hover: #22547a;

    --background: #161f27;
    --background-main: #202b38;
    --background-alt: #1a242f;

    --background-light: #ddd;
    --background-light-main: #fff;
    --background-light-alt: #eee;
    --background-dark: #161f27;
    --background-dark-main: #202b38;
    --background-dark-alt: #1a242f;

    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-dark: #000;
    --text-muted: #a9b1ba;

    --text-white: #fff;
    --text-black: #000;

    --scrollbar-thumb: var(--background);
    --scrollbar-thumb-hover: var(--button-hover);
    --range-slider: #526980;

    --button-base: #161f27;
    --button-hover: #040a0f;
    --button-primary: var(--accent);
    --button-hover-primary: var(--accent-hover);
    --button-secondary: #161f27;
    --button-hover-secondary: #040a0f;
    --button-tertiary: transparent;
    --button-hover-tertiary: transparent;

    --link: #0091ff;
    --link-hover: #006fc4;

    --variable: #d941e2;
    --highlight: #efdb43;
    --selection: #1c76c5;
    --focus: #3d97db;
    --border: #526980;
    --form-text: #fff;
    --form-placeholder: #a9a9a9;

    --code: #dbdbdb;
    --code-punctuation: #dbdbdb;
    --code-element: #006fc4;
    --code-attr-name: #00b7ff;
    --code-attr-value: #ff9130;
    --code-class: #ffce65;
    --code-value: #acf0bb;
    --code-media: #d941e2;

    --code-close: #ff5f58;
    --code-minimize: #ffbd2e;
    --code-fullscreen: #28ca42;

    --shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    --shadow-sm: 0 5px 20px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 15px 50px rgba(0, 0, 0, 0.2);

    --animation-duration: 0.1s;
    --page-width-sm: 540px;
    --page-width-md: 720px;
    --page-width-lg: 960px;
    --page-width-xl: 1100px;
    --page-width-xxl: 1260px;

    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Georgia, "Times New Roman", Times, serif, Cambria, "Palatino Linotype", "Book Antiqua", "Lucida Bright", "Garamond", "EB Garamond", "Crimson Text", "Arno Pro", "Hoefler Text";
    --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    .bg-reverse * {
        --magenta: #ff00ff;

        --accent: #0074cc;
        --accent-hover: #0091ff;
        --accent-alt: #22547a;
        --accent-alt-hover: #22547a;

        --background: #eee;
        --background-main: #fff;
        --background-alt: #fafafa;

        --background-light: #ddd;
        --background-light-main: #fff;
        --background-light-alt: #eee;
        --background-dark: #161f27;
        --background-dark-main: #202b38;
        --background-dark-alt: #1a242f;

        --text-main: #333;
        --text-bright: #000;
        --text-dark: #fff;
        --text-muted: #777;

        --text-white: #fff;
        --text-black: #000;

        --scrollbar-thumb: var(--background);
        --scrollbar-thumb-hover: var(--button-hover);
        --range-slider: #ccc;

        --button-base: #eee;
        --button-hover: #ddd;
        --button-primary: var(--accent);
        --button-hover-primary: var(--accent-hover);
        --button-secondary: #eee;
        --button-hover-secondary: #ddd;
        --button-tertiary: transparent;
        --button-hover-tertiary: #fafafa;

        --link: #0091ff;
        --link-hover: #006fc4;
        --link-visited: #0091ff;

        --variable: #d941e2;
        --highlight: #ffff00;
        --selection: #999;
        --focus: #3d97db;
        --border: #dbdbdb;
        --form-text: #1d1d1d;
        --form-placeholder: #949494;

        --code: #333;
        --code-punctuation: #333;
        --code-element: #0065b3;
        --code-attr-name: #0098d4;
        --code-attr-value: #ff6600;
        --code-class: #ffae00;
        --code-value: #00d62e;
        --code-media: #b930c0;

        --code-close: #ff5f58;
        --code-minimize: #ffbd2e;
        --code-fullscreen: #28ca42;

        --shadow: 0 10px 35px rgba(0, 0, 0, 0.075);
        --shadow-sm: 0 5px 20px rgba(0, 0, 0, 0.075);
        --shadow-lg: 0 15px 50px rgba(0, 0, 0, 0.075);

        --animation-duration: 0.1s;
        --page-width-sm: 540px;
        --page-width-md: 720px;
        --page-width-lg: 960px;
        --page-width-xl: 1100px;
        --page-width-xxl: 1260px;

        --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
        --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-serif: Georgia, "Times New Roman", Times, serif, Cambria, "Palatino Linotype", "Book Antiqua", "Lucida Bright", "Garamond", "EB Garamond", "Crimson Text", "Arno Pro", "Hoefler Text";
        --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}

nav.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav .nav-logo {
    height: 48px !important;
    max-height: 48px !important;
    width: auto !important;
}

nav .nav-link {
    transition:
        background-color 0.1s linear,
        border-color 0.1s linear,
        box-shadow 0.1s linear,
        transform 0.1s ease,
        color 0.1s linear;
    transition:
        background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear,
        box-shadow var(--animation-duration) linear,
        transform var(--animation-duration) ease,
        color var(--animation-duration) linear;
}

@media (prefers-color-scheme: dark) {
    nav .nav-link {
        transition:
            background-color 0.1s linear,
            border-color 0.1s linear,
            box-shadow 0.1s linear,
            transform 0.1s ease,
            color 0.1s linear;
        transition:
            background-color var(--animation-duration) linear,
            border-color var(--animation-duration) linear,
            box-shadow var(--animation-duration) linear,
            transform var(--animation-duration) ease,
            color var(--animation-duration) linear;
    }
}

nav .nav-link {
    color: var(--text-muted);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

@media (prefers-color-scheme: dark) {
    nav .nav-link {
        color: var(--text-muted);
    }
}

nav .nav-link:hover {
    color: var(--text-main);
}

@media (prefers-color-scheme: dark) {
    nav .nav-link:hover {
        color: var(--text-main);
    }
}

nav .nav-link.active {
    color: var(--text-main);
    background: var(--background-discrete);
}

nav .nav-icon {
    height: 28px !important;
    max-height: 28px !important;
    width: 28px !important;
    border-radius: 6px;
    padding: 10px;
}

nav .nav-icon:hover {
    background: var(--background-discrete);
}

.icon {
    height: 28px !important;
    max-height: 28px !important;
    width: auto !important;
    border-radius: 6px;
    padding: 10px;
}

nav .nav-list {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 576px) {
    nav .nav-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
    }
}

nav .nav-toggle {
    background: transparent;
    border-radius: 6px;
    padding: 10px;
    margin: 0;
}

@media (min-width: 576px) {
    nav .nav-toggle {
        display: none;
    }
}

nav .nav-toggle:focus {
    box-shadow: none !important;
}

nav .nav-toggle-icon {
    background-image: url('../../../img/placeholder_light.png');
    background-size: contain;
    height: 28px !important;
    width: 28px !important;
    display: block;
}

nav .nav-container {
    display: flex;
}

@media (max-width: 576px) {
    nav .nav-container {
        flex-wrap: nowrap;
        flex-direction: column
    }
}

@media (max-width: 576px) {
    .navbar-collapse.collapsed {
        display: none;
    }

    .navbar-collapse:not(.collapsed) {
        display: block;
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb-item {
    color: var(--text-main) !important;
    padding-right: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.breadcrumb-item:hover {
    color: var(--text-muted) !important;
}


.breadcrumb-item:not(:last-child)::after {
    padding-left: 5px;
    content: var(--breadcrumb-separator, "/");
}

.breadcrumb-item.active {
    color: var(--link) !important;
}

.breadcrumb-item.active:hover {
    color: var(--link-hover) !important;
}

.breadcrumb .breadcrumb-menu-toggle {
    background: transparent ;
    border-radius: 6px;
    padding: 2px;
    padding-right: 10px;
    margin: 0;
}

.breadcrumb-menu:not(.collapsed) {
    height: calc(100dvh - 178px) !important;
    max-height: calc(100dvh - 178px) !important;
    overflow-y: auto !important;
}

body {
    overflow: auto;
}

@media (min-width: 768px) {
    .breadcrumb .breadcrumb-menu-toggle {
        display: none;
    }
}

.breadcrumb .breadcrumb-menu-toggle:focus {
    box-shadow: none !important;
}

.breadcrumb .breadcrumb-menu-toggle-icon {
    background-image: url('../../../img/placeholder_light.png');
    background-size: contain;
    height: 20px !important;
    width: 20px !important;
    display: block;
}

@media (max-width: 768px) {
    .breadcrumb-collapse.collapsed {
        display: none;
    }

    .breadcrumb-collapse:not(.collapsed) {
        display: block;
    }
}

span.code {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 16px;
}

div.code-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

div.code-wrap {
    display: flex;
    flex-wrap: wrap;
}

.code-header {
    background-color: var(--background-alt) !important;
}

.code-snippet {
    background-color: var(--background-main) !important;
}

.code-container {
    background-color: var(--background) !important;
}

.code-header-container {
    padding: 5px;
}

.code-header .button {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 3px;
}

.code-header .close {
    background: var(--code-close);
}

.code-header .minimize {
    background: var(--code-minimize);
}

.code-header .fullscreen {
    background: var(--code-fullscreen);
}

span.code.punctuation {
    color: var(--code-punctuation);
}

span.code.element {
    color: var(--code-element);
}

span.code.attr-name {
    color: var(--code-attr-name);
}

span.code.attr-value {
    color: var(--code-attr-value);
}

span.code.class {
    color: var(--code-class);
}

span.code.value {
    color: var(--code-value);
}

span.code.media {
    color: var(--code-media);
}

span.code.text {
    color: var(--text-main);
}