:root,
.bg-auto *,
.bg-light * {
    --code: #333;
    --code-punctuation: #333;
    --code-element: #0057A3;
    --code-attr-name: #00b7ff;
    --code-attr-value: #ff6600;
    --code-class: #ffae00;
    --code-value: #00d62e;
    --code-media: #b930c0;

    --code-close: #ff5f58;
    --code-minimize: #ffbd2e;
    --code-fullscreen: #28ca42;
}

@media (prefers-color-scheme: dark) {

    :root,
    .bg-auto * {
        --code: #dbdbdb;
        --code-punctuation: #dbdbdb;
        --code-element: #0f93ff;
        --code-attr-name: #00b7ff;
        --code-attr-value: #ff9130;
        --code-class: #ffce65;
        --code-value: #acf0bb;
        --code-media: #d941e2;

        --code-close: #ff5f58;
        --code-minimize: #ffbd2e;
        --code-fullscreen: #28ca42;
    }
}

.bg-reverse *,
.bg-dark * {
    --code: #dbdbdb;
    --code-punctuation: #dbdbdb;
    --code-element: #0f93ff;
    --code-attr-name: #00b7ff;
    --code-attr-value: #ff9130;
    --code-class: #ffce65;
    --code-value: #acf0bb;
    --code-media: #d941e2;

    --code-close: #ff5f58;
    --code-minimize: #ffbd2e;
    --code-fullscreen: #28ca42;
}

@media (prefers-color-scheme: dark) {
    .bg-reverse * {
        --code: #333;
        --code-punctuation: #333;
        --code-element: #0057A3;
        --code-attr-name: #00b7ff;
        --code-attr-value: #ff6600;
        --code-class: #ffae00;
        --code-value: #00d62e;
        --code-media: #b930c0;

        --code-close: #ff5f58;
        --code-minimize: #ffbd2e;
        --code-fullscreen: #28ca42;
    }
}

.framework {
    font-weight: 500 !important;
    text-decoration: none !important;
}

.heading {
    font-weight: bolder !important;
    opacity: 0.5 !important;
}

.header-description {
    width: 60%;
}

.foreword-description {
    width: 70%;
}

@media (max-width: 768px) {
    .header-description {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .foreword-description {
        width: 100%;
    }
}

.heading-container {
    display: flex;
}

@media (max-width: 576px) {
    .heading-container {
        flex-direction: column;
    }
}

.heading-container-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 576px) {
    .heading-container-reverse {
        flex-direction: column;
        align-items: flex-end;
    }
}

.heading-icon img {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 576px) {
    .heading-icon img {
        padding: 0;
    }
}

#haze-dark-demo select,
#haze-dark-demo textarea {
    min-width: 100%;
}

#haze-responsive-demo {
    position: absolute;
    overflow-y: scroll;
    container-type: inline-size;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#haze-responsive-demo::-webkit-scrollbar {
    display: none;
}

#haze-responsive-range input[type='range'] {
    width: 100%;
}

#haze-responsive-demo .code-content {
    overflow-y: scroll;
    scrollbar-width: thin;
}

#haze-responsive-demo .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#haze-responsive-demo .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#haze-responsive-demo .column img {
    margin-top: 8px;
    vertical-align: middle;
}

@container (max-width: 700px) {
    #haze-responsive-demo .column {
        flex: 50%;
        max-width: 50%;
    }
}

@container (max-width: 500px) {
    #haze-responsive-demo .column {
        flex: 100%;
        max-width: 100%;
    }
}

#haze-responsive-range #sm,
#haze-responsive-range #md,
#haze-responsive-range #lg {
    cursor: pointer;
}

#haze-responsive-range #sm.active,
#haze-responsive-range #md.active,
#haze-responsive-range #lg.active {
    color: var(--text-white);
}


#haze-responsive-range #sm:hover,
#haze-responsive-range #md:hover,
#haze-responsive-range #lg:hover {
    background-color: var(--button-hover);
}

#haze-responsive-range #sm.active,
#haze-responsive-range #md.active,
#haze-responsive-range #lg.active {
    background-color: var(--accent);
}

#haze-responsive-range #sm.active:hover,
#haze-responsive-range #md.active:hover,
#haze-responsive-range #lg.active:hover {
    background-color: var(--accent-hover);
}


#haze-responsive-range #sm {
    width: 610px;
}

#haze-responsive-range #md {
    width: 190px;
}

#haze-responsive-range #lg {
    width: calc(100% - 800px);
}

#haze-responsive-demo-container {
    display: contents;
}

#haze-responsive-demo-container-sibling {
    z-index: -1;
}

#haze-responsive-range input[type='range']::-webkit-slider-runnable-track,
#haze-responsive-range input[type='range']:focus::-webkit-slider-runnable-track {
    background: transparent;
}

#haze-responsive-range input[type='range']::-webkit-slider-thumb {
    background: var(--background-light);
    border-radius: 5px;
    height: 55px;
    width: 10px;
    margin: 10px;
    z-index: 1;
    position: relative;
    top: -30px;
}

@media (prefers-color-scheme: dark) {
    #haze-responsive-range input[type='range']::-webkit-slider-thumb {
        background: var(--background-dark);
    }
}

#haze-responsive-range input[type='range'] {
    margin: 0;
    padding: 0;
    transform: scale(1.02);
    position: relative;
    bottom: -400px;
    left: -10px;
}

.bg-abstract {
    clip: rect(0, auto, auto, 0);
    background-image: url('../../img/background/1-05_min.webp');
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg-overlay {
    clip: rect(0, auto, auto, 0);
    /* background: var(--background-dark-main); */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}

figure {
    position: relative;
    width: 100%;
    margin: 0 !important;
}

.fixed-wrap {
    z-index: -2;
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#fixed {
    background-image: url('../../img/background/1-05_min.webp');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.overlay,
.overlay-light,
.overlay-dark,
.header-overlay {
    position: relative;
    z-index: -1;
}

.overlay-light::after,
.overlay-dark::after,
.header-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.overlay-light::after {
    background-color: var(--background-dark-main);
    opacity: 0.7;
}

.overlay-dark::after {
    background-color: var(--background-dark-main);
    opacity: 0.98;
}

.header-overlay::after {
    background-color: var(--background-dark-main);
    opacity: 0.4;
}

.error {
    font-size: 500px;
    color: var(--background-main) !important;
    transform: translateY(60px);
    position: relative;
}

@media (max-width: 576px) {
    .error {
        font-size: 180px;
        transform: translateY(40px);
        padding-top: 100px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .error {
        font-size: 300px;
        transform: translateY(60px);
        padding-top: 100px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .error {
        font-size: 380px;
        transform: translateY(60px);
        padding-top: 100px;
    }
}

.error-description {
    width: 100%;
    max-width: 480px;
}

.hs-2 {
    font-size: 100px;
}

@media (max-width: 576px) {
    .hs-2 {
        font-size: 60px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hs-2 {
        font-size: 80px;
    }
}

.hs-1 {
    font-size: 50;
}

#breadcrumb-container {
    padding-top: 16px;
    background-color: var(--background-main);
}

#breadcrumb-container.sticky-top {
    top: 60px;
}


span.code {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 16px;
}

div.code-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

div.code-wrap {
    display: flex;
    flex-wrap: wrap;
}

.code-header {
    background-color: var(--background-alt) !important;
}

.code-snippet {
    background-color: var(--background-main) !important;
}

.code-container {
    background-color: var(--background) !important;
}

.code-header-container {
    padding: 5px;
}

.code-header .button {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 3px;
}

.code-header .close {
    background: var(--code-close);
}

.code-header .minimize {
    background: var(--code-minimize);
}

.code-header .fullscreen {
    background: var(--code-fullscreen);
}

span.code.punctuation {
    color: var(--code-punctuation);
}

span.code.element {
    color: var(--code-element);
}

span.code.attr-name {
    color: var(--code-attr-name);
}

span.code.attr-value {
    color: var(--code-attr-value);
}

span.code.class {
    color: var(--code-class);
}

span.code.value {
    color: var(--code-value);
}

span.code.media {
    color: var(--code-media);
}

span.code.text {
    color: var(--text-main);
}

.link {
    color: var(--link);
    cursor: pointer;
}

.link:hover {
    color: var(--link-hover);
}